<!-- 使用するテンプレート -->
{% extends 'blog/base.html' %}

<!-- 埋め込む内容 -->
    {% block content %}
        {% for post in posts %}
        <div class="post">
            <div class="date">
                <p>published: {{ post.published_date }}</p>
            </div>
            <!-- 呼び出し元のurlsからpkという変数を受け取る -->
            <h2><a href="{% url 'blogs:post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
        {% endfor %}
    {% endblock %}

